<h1>Welcome to my daily to-do list!</h1>
<form action = "/login" method = "POST">
    <input type = "text" placeholder = "Username" name = "Username" >
    <input type = "password" placeholder = "password" name = "password" >
    <input type = "submit" value = "Login!">

</form>
